/* base style */
*{
    box-sizing: border-box;
}
body{
    font: 1em 'Work sans',sans-serif;
    line-height: 1.5;
    color: #3a3a3a;
    margin: 0;
}
.main-header,
.main-footer{
    background: #f9f9f9;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;

}
h1,
h2,
h3,
a{
    color: black;
    font-size: .95em;
}
h3{
    text-align: center;
}
.about-me{
    padding-left: 1em;
    padding-right: 1em;
}


.banner img{
    width: 100%;
}

img{
    width: 100%;
}

.main-header h1,
.top-page{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
}
.contact{
    padding: 0 4em;
    text-align: center;
}






/* --------Navigation---------*/

.main-header h1{
    font-size: 1.35em;
}

.main-header h1,
.main-nav li{
    text-align: center;
    display: block;
    padding: 0.05em 15px;
    
}


.main-nav{
    font-size: 0.95em;
    color: darkgray;
    
}
.main-nav li{
    border-bottom: 1px solid #ebecee;
}




/* =============
    Base layout
================*/

.main-header{
    padding-top: .5em;
    padding-bottom: .5em;
}

.main-footer,
.sub-footer,
.banner{
    text-align: center;
}

.banner{
    padding: 2.2em 0;
}
.sub-title{
    text-align: center;
}

.col{
    padding-right: 1em;
    padding-left:  1em;
}

.main-footer,
.sub-nav{
    padding: 2em 0;
    margin-top: 30px;
}

.sub-nav{
    padding-bottom: 0;
    border-top: darkgrey solid .5px;
    margin: 0 10px;
}

.profile-picture{
    padding: 1em 1em 1em 1em;
}

/* media  */
@media (min-width: 768px) {
    .main-header,
    .row{
        width: 100%;
        margin: 0 auto;

    }
    .banner img{
        width: 50%;
        float: right;

    }

    .banner p{
        text-align: left;
}

@media (min-width: 1024px) {
    .main-header,
    .row{
        width: 100%;
        max-width: 1150px;
    }
}

/*================
    flex box 
 =================*/

 @media (min-width:768px) {
     .main-header,
     .main-nav,
     .row,
     .sub-title{
         display: flex;
     }

     .main-header{
         flex-direction: column;
         align-items: center;
     }

     .col{
         flex: 1 50%;
     }
     .row{
         flex-direction: row;
         align-items: center;
         flex-wrap: wrap;
     }

     .sub-title{
         flex-direction: column;
         align-items: center;
     }

}
}

@media (min-width: 1024px) {
    .main-nav,
    .main-header h1
    {
flex-direction: row;
    }
}