/* base style */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work sans',sans-serif;
}
body{
    font-size: 1em;
    line-height: 1.5;
    color: #3a3a3a;
    margin: 0;
}
.main-header,
.main-footer,
#profile{
    background: #f9f9f9;

}

ul,
.main-nav a{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

a:hover{
    color: #326e99;
}
a:visited{
    color: blue;
}
h1,
h2,
h3,
a{
    color: black;
    font-size: .95em;
}
h3{
    text-align: center;
}
.about-me{
    padding-left: 4em;
    padding-right: 4em;
}




img{
    width: 100%;
}

.main-header h1,
#top-page{
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8em;
}
.contact,
.contact-info{
    text-align: center;
}






/* --------Navigation---------*/

.main-header h1{
    font-size: 1.35em;
}

.main-header h1,
.main-nav a{
    text-align: center;
    display: block;
    margin: 2em 15px;
    
}


.main-nav{
    font-size: 0.95em;
    color: darkgray;
    
}
.main-nav a{
    border-bottom: 1px solid #ebecee;
}




/* =============
    Base layout
================*/

.main-header{
    padding-top: .5em;
    padding-bottom: .5em;
}


.banner{
    padding: 2.2em 0;
}
.banner p{
    margin: 0 1em;
}
#protfolio{
    text-align: center;
}

.sub-title{
    text-align: center;
    margin: 3em 0;
}

.project{
    padding-right: 1em;
    padding-left:  1em;
}

.main-footer{
    padding: 2em 0;
    margin-top: 30px;
}
.contact ul{
    padding-bottom: 2em;
}
.sub-nav{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: flex-end;
    border-top: darkgrey solid .5px;
    padding-top: 1em;
    margin: 0 10px;
}

.sub-nav .name{
    margin-right: auto;
    font-weight:700 ;
}
.sub-nav li{
    padding-left:1em;
    padding-right: 1em;
}
/***
.profile-picture{
    margin: 1em 1em 1em 1em;
}
***/
 .main-header{
     padding-bottom: 4em;
 }
 .full{
    display: none;

}

 /**** media display****/
@media (min-width: 768px) {
    .full{
        display: inline-block;
    }

    .top{
        display: none;
    }

    .main-header,
    .row{
        width: 100%;
        margin: 0 auto;
    }
        
}

@media (min-width: 1024px) {
    .main-header,
    .row{
        width: 100%;
    }
    .banner{
        height: 35vh;
    }
}

/*================
    flex box 
 =================*/

 @media (min-width:768px) {
     .container,
     .main-header,
     .main-nav,
     .profile,
     .row,
     .banner{
         display: flex;
     }
     

     .main-header{
         flex-direction: column;
         align-items: center;
     }

     .banner{
         flex-direction: row-reverse;
         align-content: flex-start;
         font-size: 1rem;
         padding-bottom: 3rem;
     }
     .banner img{
         width: 40%;
         margin: 0.5em;
     }

     .banner p{
         text-align: left;
         margin: 1em 0 0 1em;
         align-self: flex-start;
     }

     #protfolio{
         text-align: center;
     }

     .project{
         flex: 1 50%;
     }
     .row{
         flex-direction: row;
         align-items: center;
         flex-wrap: wrap;
     }

     .sub-title{
         flex-direction: column;
         align-items: center;
     }

}

@media (min-width: 1024px) {
    .container,
    .main-header,
    .main-nav
    {
display: flex;
    }

    .project{
        flex: 1 30%;
    }

    .main-header{
        flex-direction: row;
        justify-content: space-between;
    }
}